/******************************

------------Font -----------

There are many properties related to the font, such as the face, weight, style, etc. These
properties allow you to change the style or complete look of your text. 

*******************************/

/** Body Selector which applies properties to whole body <body></body> */
body {
    /* Font-Family */
    font-family: "Segoe UI", Tahoma, sans-serif; /* You can declare multiple fonts. */
    /*if first font doesn't exists other ones will be declared serial wise */
  
    /* Font-Style */
    font-style: italic;
  
    /* Font-Variant */
    font-variant: small-caps;
  
    /* Font-Weight */
    font-weight: bold;
  
    /* Font-Size */
    font-size: larger;
  
    /* Font */
    font: style variant weight size family;
  }