/***************************
  
  ------------ Template Layout -----------
  
  Specifies the visual look of the content inside a template
  
  *******************************/
  
  /* '*' selects all elements on a page */
  * {
    /* Box-Align */
    box-align: start;
  
    /* Box-Direction */
    box-direction: normal;
  
    /* Box-Flex */
    box-flex: normal;
  
    /* Box-Flex-Group */
    box-flex-group: 2;
  
    /* Box-Orient */
    box-orient: inline;
  
    /* Box-Pack */
    box-pack: justify;
  
    /* Box-Sizing */
    box-sizing: margin-box;
  
    /* max-width */
    max-width: 800px;
  
    /* min-width */
    min-width: 500px;
  
    /* max-height */
    max-height: 100px;
  
    /* min-height */
    min-height: 80px;
  }
  